<article>
  <h3>Welcome!</h3>

  <p>
    You've been given $200 to start, see how long you can last.<br/>
    If you beat the house by making more than $500, you win!
  </p>
  
  <a href='/new_player' class='btn btn-primary'>Let's Get Started</a>
</article>