<h3>How much would you like to bet?</h3>
<p><em><%= session[:player_name] %> has $<%= session[:player_money] %></em></p>
<form action='/place_bet' method='post'>
  <input type='number' name='player_bet' min='1' max='<%= session[:player_money] %>'/>
  <input type='submit' value='Submit'/>
</form>
